{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Booking</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

    <header>
        <h1>Room Booking System</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'cancel' %}">Cancel Reservation</a>
                <span>Welcome, {{ user.username }}</span>
                <a href="logout/">Logout</a>

            {% else %}
                <a href="login/">Login</a>
                <a href="admin/">admin</a>
                <a href="/">Register</a>
            {% endif %}
        </nav>
    </header>

    <!-- Messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <main>
        <h2>Available Rooms</h2>
        <div class="room-list">
            {% if rooms %}
                {% for room in rooms %}
                    <div class="room-card">
                        <h3>{{ room.room_name }}</h3>
                        <p>Capacity: {{ room.room_capacity }}</p>
                        <p>Hours left: {{ room.room_hour }}</p>
                        {% if room.room_available %}
                            <a href="{% url 'reserve' room.id %}" class="btn">Reserve</a>
                        {% else %}
                            <p class="unavailable">Not Available</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No rooms available right now</p>
            {% endif %}
        </div>
    </main>
</body>
</html>

