
name: Testing
on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip3 install --user -r requirements.txt
          pip3 install --user coverage
          
      - name: Set Django settings module
        run: |
          echo "DJANGO_SETTINGS_MODULE=cn331_as2.settings" >> $GITHUB_ENV
          
      - name: Run Django unit tests with coverage
        run: |
          coverage run --source='.' manage.py test classroom.tests
          coverage report
